<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect 4</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="vue.global.js"></script>
    <script defer src="client.js"></script>
</head>
<body>
    <div id="app">
        <div class="button-grid">
            <!--<button class="button" v-for="button in buttonArray">
                Add chips
            </button>-->
            <button id="button1" class="button" @click="addChip(1)">Add chip</button>
            <button id="button2" class="button" @click="addChip(2)">Add chip</button>
            <button id="button3" class="button" @click="addChip(3)">Add chip</button>
            <button id="button4" class="button" @click="addChip(4)">Add chip</button>
            <button id="button5" class="button" @click="addChip(5)">Add chip</button>
            <button id="button6" class="button" @click="addChip(6)">Add chip</button>
            <button id="button7" class="button" @click="addChip(7)">Add chip</button>
        </div>
        <div class="game-grid">
            <div class="spot" v-for="spot in grid">
                
            </div>
        </div>
    </div>
</body>
</html>