body {
    background-color: yellow;
}

.button-grid {
    display: grid;
    height: 20px;
    width: 700px;
    margin: 30px auto;
    grid-template-columns: repeat(7, 100px);
}

.button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 5px;
    border-radius: 5px;
}

.game-grid {
    width: 525px;
    height: 450;
    margin: 0 auto;
    background-color: #388AFF;
    color: #fff;
    border: 5px solid #334EE8;
    border-radius: 10px;

    display: grid;
    grid-template: repeat(6, 75px) / repeat(7, 75px);
}

.spot {
    border: 5px solid #334EE8;
    background-color: black;
    border-radius: 100px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}
<<<<<<< HEAD:connect4/pub/style.css
=======

.disable {
    background-color: red;
}

.enable {
    display: block;
    background-color: green;
}

/*HEADER STYLING*/
@font-face {
    font-family: face;
    src: url(SigmarOne-Regular.ttf);
}

#header {
    background-color: yellow;
}

#c4 {
    text-align: center;
    margin: 0;
    font-family: face;
    font-size: 60px;
    color: #334EE8;
    text-shadow: black 1px 0 0;
}

#gamestat {
    text-align: center;
    margin: 0;
}
>>>>>>> c41170eb8533e1b3696e242346cd83a2f44d4283:connect4/pub/styles/style.css
